@import './libs/vars.scss';
@import './libs/mixins.scss';

.container{

    $trelloBlue: rgba(0, 113, 189, 0.452);

    .listItem{
        width: 220px;
    }

    .card{
        filter: drop-shadow(2px 4px 6px $trelloBlue);
        background: $intenseGray;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            .listItem{
                @include backlight(2px, 4px, 6px, 6px, #7e0fff, #0fffc1, 3s);
            }
            
            h1, p{
                color: $pureWhite;
            }
        }
    }
}















//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////


    // MOBILE PORTRAIT
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: portrait)  {

    }

    // MOBILE LANDSCAPE
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: landscape){

    } 







    // IPAD PORTRAIT
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    }

    // IPAD LANDSCAPE
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    }






    // IPAD PRO PORTRAIT
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: portrait)  {

    }

    // IPAD PRO LANDSCAPE
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: landscape)  {

    }






    // MDPI SCREENS
    @media screen and (min-width: 1152px) and (max-width: 1365px){

    }

    // USUAL LAPTOPS
    @media screen and (min-width: 1366px) and (max-width: 1339px){

    }

    // HiDPI SCREENS
    @media screen and (min-width: 1440px) and (max-width: 1919px){

    }





    // FULL HD SCREENS
    @media screen and (min-width: 1920px) and (max-width: 6000px){

    }


//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
